<!DOCTYPE html>

<!--[if IE 7 ]> <html lang="<%= I18n.locale %>" class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="<%= I18n.locale %>" class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]> <html lang="<%= I18n.locale %>" class="ie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="<%= I18n.locale %>" class="no-js"><!--<![endif]-->

<head>
  <% render 'layouts/head' %>
</head>
<body class="<%= locale_class %> l-body">
  <% render 'layouts/body' %>
</body>
</html>
